@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-1 {
  @apply py-2 px-8 rounded-full bg-color-black text-white hover:outline-none hover:ring hover:bg-transparent hover:ring-color-purple hover:text-color-purple
  transition-colors ease-in-out duration-300;
}

.btn-2 {
  @apply py-4 px-10 rounded-full bg-color-purple text-white hover:outline-none hover:bg-transparent hover:ring hover:ring-color-purple hover:text-color-black transition-colors duration-300 ease-in-out font-semibold;
}

/* Swiperjs */
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-slide {
  overflow: hidden !important;
}
